
@media (min-width: 811px) {    
  .container{
    width:810px;
  }
}

.user_event_image {
	max-width: 100%;
}

.first {
	padding-left: 0;
}

.last {
	padding-right: 0;
}

.user_submit .form-actions .btn {
	margin-top: 20px;
}

.user_submit .btn-primary {
	margin-right: 15px;
}
