h1
  a#top Welcome to West Cornwall Events
.fb-wrap
  .fb-like data-action="like" data-layout="standard" data-share="true" data-show-faces="false" 
p
  | West Cornwall Events brings you the best of the local festivals, live music, theatre groups, one off shows, club nights, charity events, poetry reading and everything else you can imagine. All just one click away.
img.post-image alt="Mazey Day, Penzance" src="assets/global/golowan_statue.jpg"
p
  | We cover the entire West Cornwall area including Penzance, St. Ives, Hayle, Marazion, Helston, Newlyn, Camborne, Redruth and all the towns and villages in between. All events are sorted by month and displayed by date with no fuss or frills.
p 
  '  All the major Penwith events are covered, including
  a href="http://www.westcornwallevents.co.uk/festival/penzance_mazey_day_golowan.php" title="Mazey Day Penzance"Mazey Day &amp; the Golowan Festival
  ' , 
  a href="http://www.westcornwallevents.co.uk/festival/helston_flora_day.php" title="Helston Flora Day"  Helston Flora Day
  ' , 
  a href="http://www.westcornwallevents.co.uk/festival/newlyn_fish_festival.php" title="Newlyn Fish Festival"  The Newlyn Fish Festival
  ' , 
  a href="http://www.westcornwallevents.co.uk/festival/st_ives_september_festival.php" title="St. Ives September Festival"  St. Ives September Festival
  ' , 
  a href="http://www.westcornwallevents.co.uk/festival/montol_festival_penzance.php" title="Mounts bay Montol"  The Montol Festival
  ' . We also cover the
  a href="http://www.westcornwallevents.co.uk/festival/firework_displays.php" title="Fireworks"  November Fireworks Displays
  '  as well as the 
  a href="http://www.westcornwallevents.co.uk/festival/christmas_lights.php" title="Christmas lights"  Christmas Lights switch on
p
  ' Find events quickly and easily with our simple
  a href="http://www.westcornwallevents.co.uk/search.php" title="Search for an event"  search engine
  ' . Cant find what your looking for? No problem. Let us know on 
  a href="https://www.facebook.com/pages/West-Cornwall-Events/376957887690l" Facebook
  '  and we'll try to find more details and add it to the website.
p 
  ' We're solely an events site we can list all details in an easy to read format with no fuss or frills. All this information is free to use and it's also free to
  a href="http://www.westcornwallevents.co.uk/submit_your_event.html" title="submit your cornish event free"  submit events to us
  ' . We're nice like that!
