<h1><a id="top"></a>Submit an Event</h1>
                
                <div class="fb-wrap"><div class="fb-like" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div></div>
                
                <p>Please use the contact form below to submit your event to us for free. Alternatively you can let us know via our <a href="http://www.westcornwallevents.co.uk/facebookpenwithevents" title="facebook events page" target="_blank">Facebook page</a>.</p>
                <p>Our events diary is hand currated. It may take us a few days to add your event, we'll send you an emeil to let you know when it done. Submiting an event does not guarentee inclusion.</p>
                <p>Your privacy is <a href="http://www.westcornwallevents.co.uk/website/legal.php" title="Legal">very important</a> to us.</p>
                <p>&nbsp;</p>
                <p>* denotes a required field</p>         
                <form method="post" id="contactform" action="http://www.emailmeform.com/fid.php?formid=628836" enctype="multipart/form-data" accept-charset="UTF-8">
                
                <h4 align="center" class="no-border"><strong>Your Information</strong></h4>
                <p align="center">This information will be kept private.</p>
                <p>
                <label for="name">Your Name *</label>
                <br />
                <input name="FieldData0" type="text" id="name" tabindex="2" size="70"/>
                </p>
                <p>
                <label for="email">Your Email Address *</label>
                <br />
                <input name="FieldData1" type="text" id="email" tabindex="3" size="70"/>
                </p>
                <p class="no-border">&nbsp;</p>
                <h4 align="center" class="no-border"><strong>Event Information</strong></h4>
                <p align="center">This information will be published on the website.</p>
                <p>
                
                <label for="email">Event Title*</label>
                <br />
                <input name="FieldData2" type="text" id="email" tabindex="3" size="70"/>
                </p>
                <p>
                <label for="email">Event Location *</label>
                <br />
                <input  name="FieldData3" type="text" id="email" tabindex="3" size="70"/>
                </p>
                <p>
                <label for="email">Event Date *</label>
                <br />
                <input name="FieldData4" type="text" id="email" tabindex="3" size="70" />
                </p>
                <p>
                <label for="email">Event Time</label><br />
                <input  name="FieldData5" type="text" id="email" tabindex="3" size="70"/>
                </p>
                <p>
                <label for="email">Event Web Site</label><br />
                <input name="FieldData6" type="text" id="email" tabindex="3" size="70" />
                </p>
                
                <p>
                <label for="message">Your Message *</label>
                <br />
                <textarea id="message" name="FieldData7" rows="10" cols="90" tabindex="4"></textarea>
                </p>
                
                <p align="center" class="no-border">Please enter the text from the image
                <tr>
                <td id="captcha_table_img_td" class="captcha" style="padding: px;" width="10"><div align="center"><img src="http://www.emailmeform.com/turing.php" id="captcha" alt="captcha">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="Turing" value="" maxlength="100" size="10"> 
                <br />
                [ <a href="#" onclick=" document.getElementById('captcha').src = document.getElementById('captcha').src + '?' + (new Date()).getMilliseconds()">Refresh Image</a> ] [ <a href="http://www.emailmeform.com/?v=turing&pt=popup" onClick="window.open('http://www.emailmeform.com/?v=turing&pt=popup','_blank','width=400, height=500, left=' + (screen.width-450) + ', top=100');return false;">What's This?</a> ]</p>
                </div>
                <p align="center" class="no-border">
                <input class="button" type="submit" value="Submit" tabindex="5" />
                &nbsp;&nbsp;<input class="button" type="reset" value="Clear" tabindex="6" />
                </p>
                </form></a>
                <p>&nbsp;</p>
                <p>By submitting this form you agree to the <a href="website/terms_of_use.html" target="_blank"><strong>Terms of Use</strong></a> (will open in new window)</p>
                <p>&nbsp;</p>
